<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>[EMAIL_SUBJECT]</title>
        <style type="text/css">
            /* --- Core resets --- */
            html{width:100%}
            body{margin:0!important; padding:0!important; display:block!important; min-width:100%!important; width:100%!important; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background-color:#F1F1F1}
        </style>
    </head>
    <body>
        [BODY]
    </body>
</html>
