/* Overrides of styles-core.css for delete-account.html */

.step {
  margin-top: 2rem;
}

.step-title {
  display: inline;
}

p {
  margin-left: 1.0rem;
}

img {
  max-width: 70%;
  margin: 0 auto 2.0rem auto;
}
